@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
/* PICO VARIABLES */
:root {
  --pico-font-family-sans-serif: "Mulish", system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, Arial, "Helvetica Neue", sans-serif, var(--pico-font-family-emoji);
  --pico-grid-row-gap: 1rem;
}

[data-theme=light], :root:not([data-theme=dark]) {
  --pico-background-color: #F7F4ED;
  --pico-color: #443e37;
  --pico-h1-color: --pico-color;
  --pico-h2-color: --pico-color
  --pico-h3-color: --pico-color;
  --pico-h4-color: --pico-color;
  --pico-h5-color: --pico-color;
  --pico-h6-color: --pico-color;
}

h1 {
  --pico-font-size: 2rem;
  --pico-line-height: 1.125;
  --pico-typography-spacing-top: 3rem;
}

h2 {
  --pico-font-size: 1.6rem;
  --pico-line-height: 1.15;
  --pico-typography-spacing-top: 2.625rem;
}

h3 {
  --pico-font-size: 1.4rem;
  --pico-line-height: 1.175;
  --pico-typography-spacing-top: 2.25rem;
}

h4 {
  --pico-font-size: 1.1rem;
  --pico-line-height: 1.2;
  --pico-typography-spacing-top: 1.874rem;
}

h5 {
  --pico-font-size: 1.1rem;
  --pico-line-height: 1.225;
  --pico-typography-spacing-top: 1.6875rem;
}

h6 {
  --pico-font-size: 1rem;
  --pico-line-height: 1.25;
  --pico-typography-spacing-top: 1.5rem;
}

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6 {
  font-family: "Bitter", serif;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
}

h1.title {
  text-align: center;
  background: url("/assets/images/layout/hr.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 0 18%;
  margin-bottom: 3rem;
}

blockquote {
  border: none;
  padding: 2rem;
  background: url("/assets/images/layout/sidebar.png"), url("/assets/images/layout/sidebar.png");
  background-repeat: no-repeat;
  background-position: left center, right center;
}
blockquote p {
  font-family: "Bitter", serif;
  font-size: 1.2rem;
  font-style: italic;
  text-align: center;
}

hgroup p {
  font-family: "Bitter", serif;
  color: #8b7964;
}

/* BODY */
body {
  background-image: url("/assets/images/layout/bg-top.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
}

@media (min-width: 1024px) {
  .container {
    max-width: 950px;
  }
}
article {
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 rgba(70, 57, 46, 0.19), 0 4px 15px 0 rgba(70, 57, 46, 0.19);
}

/* HEADER */
nav ul.site-nav {
  margin: 0 auto;
}
nav ul.site-nav a {
  text-decoration: none;
}
nav ul.site-nav .active {
  font-weight: 700;
}

.logo-small {
  text-align: center;
}

.logo-large {
  text-align: center;
  margin: 1rem 0;
}
.logo-large img {
  max-width: 70%;
}

/* MAIN */
/* SKETCHBOOK */
@media (min-width: 768px) {
  .grid.sketchbook-gallery {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1rem;
  }
}
.sketchbook-page {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 rgba(70, 57, 46, 0.19), 0 4px 15px 0 rgba(70, 57, 46, 0.19);
}

/* EXPLORE */
.explore article {
  height: 100%;
}

@media (min-width: 768px) {
  .grid.explore {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1rem;
  }
  .grid.explore-small {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1rem;
  }
}
.explore ul {
  padding: 0;
  margin: 0;
}
.explore ul li {
  list-style-type: none;
}
.explore ul li:last-of-type {
  margin: 0;
}

/* FOOTER */
.copyright {
  text-align: center;
  margin: 2rem 0;
  font-family: "Bitter", serif;
  color: #8b7964;
  font-size: 0.9rem;
}

/*# sourceMappingURL=styles.css.map */