---
title: Explore the World of Witchlight
premalink: /explore/
---

<p>Uncover the rich history, enigmatic characters, and hidden knowledge that make up the world of Witchlight. From
  ancient legends to tales of mysterious witches, this section offers a deeper understanding of the hidden world that
  awaits you.</p>

<div class="grid explore">
  <div>
    <article>
      <h4>Mythology</h4>
      {% assign explore_items = site.explore | where_exp: "item", "item.category == 'Mythology'" %}
      {% assign sorted = explore_items | sort: 'order' %}
      <ul>
        {% for item in sorted %}
        <li>
          <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </article>
  </div>
  <div>
    <article>
      <h4>Witchcraft</h4>
      {% assign explore_items = site.explore | where_exp: "item", "item.category == 'Witchcraft'" %}
      {% assign sorted = explore_items | sort: 'order' %}
      <ul>
        {% for item in sorted %}
        <li>
          <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </article>
  </div>
  <div>
    <article>
      <h4>Enchanted Creatures</h4>
      {% assign explore_items = site.explore | where_exp: "item", "item.category == 'Enchanted Creatures'" %}
      {% assign sorted = explore_items | sort: 'order' %}
      <ul>
        {% for item in sorted %}
        <li>
          <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </article>
  </div>
  <div>
    <article>
      <h4>Locations</h4>
      {% assign explore_items = site.explore | where_exp: "item", "item.category == 'Geography'" %}
      {% assign sorted = explore_items | sort: 'order' %}
      <ul>
        {% for item in sorted %}
        <li>
          <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </article>
  </div>
</div>