<!doctype html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.jade.min.css" />
    <link rel="stylesheet" href="/styles/styles.css">
    <title>{{ page.title }}</title>
</head>

<body>
    <div class="shaded">
        <header class="container">
                <nav>
                    <ul>
                        <li><a href="#" class="title">Witchlight</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Explore</a></li>
                        <li><a href="#">Sign Up</a></li>
                    </ul>
                </nav>
        </header>
    </div>
    <main class="container">
        <section>
            {{ content }}</section>
    </main>
    <div class="shaded">
        <footer class="container">
            <p>Copyright &copy; 2024 Renegade Minis</p>
        </footer>
    </div>
</body>

</html>