---
--- 
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,700;1,400&family=Cormorant+Garamond:ital,wght@0,300;1,300&display=swap');

$primary-colour: #00b478;
$body-font-colour:#f7f2ea;
$body-font-alt:#4a5e55;
$body-font-family: "Barlow", sans-serif;
$heading-font-family: "Cormorant Garamond", serif;

html {
    font-family: $body-font-family;
    font-weight: 400;
    font-style: normal;
}

body {
    background-image: url("/assets/images/layout/bg-1.jpg");
    background-size: contain;
    background-color: #13171f;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font-family;
    font-weight: 300;
    font-style: normal;
    color: $body-font-colour;
}

hr {
  border-color: $body-font-alt;
}

address,
dl,
ol,
p,
pre,
table,
ul {
    color: $body-font-colour;
}

blockquote {
    font-family: $heading-font-family;
    font-size: 1.25rem;
    border-color: #0000005e;
    p {
        font-style: italic;
    }
}

@media (min-width:576px) {
    .container {
      max-width:510px;
      padding-right:0;
      padding-left:0;
    }
  }
  @media (min-width:768px) {
    .container {
      max-width:700px
    }
  }
  @media (min-width:1024px) {
    .container {
      max-width:950px
    }
  }
  @media (min-width:1280px) {
    .container {
      max-width:1200px
    }
  }
  @media (min-width:1536px) {
    .container {
      max-width:1200px
    }
  }

  .title {
    font-size: 2rem;
    font-family: $heading-font-family;
    text-decoration: none;
  }

  .shaded {
    background-color: #0000005e;
  }


  main { 
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    p {
      text-align: center;
      color: $body-font-alt;
      font-size: 0.9rem;
      margin: 0;
      a {
        text-decoration: none;
        color: $body-font-alt;
      }
    }
  }

  .container {
    &.lead {
      margin: 0 auto 4rem;
      padding: 4rem 0;
      h1 {
        font-size: 4rem;
        text-align: center;
        color: $primary-colour;
      }
    }
    &.alt {
      margin: 0 auto;
      padding: 3rem 0;
      h1 {
        font-size: 3rem;
        text-align: center;
        color: $primary-colour;
        margin-bottom: 2rem;
      }

    }
    &.callouts .grid {
      margin-bottom: 2rem;
      > div {
        padding: 1rem;
      }
    }
  }


  .grid.gallery > div {
    margin: 0 0 1rem 0;
    .image {
      overflow: hidden;
    }
    .image img {
      display: block;
      width: 100%;
      height: auto;
			-moz-transition: -moz-transform 0.2s ease-out !important;
			-webkit-transition: -webkit-transform 0.2s ease-out !important;
			-ms-transition: -ms-transform 0.2s ease-out !important;
			transition: transform 0.2s ease-out !important;
    }
    .image:hover img {
			-moz-transform: scale(1.05);
			-webkit-transform: scale(1.05);
			-ms-transform: scale(1.05);
			transform: scale(1.05);
    }
  }

  .grid .craftimage img {
    max-width: 100px;
    display: block;
    margin: 0 auto
  }